<f:section name="Types">
    <xsd:complexType name="rkwShopOrderList">
        <xsd:complexContent mixed="false">
            <xsd:restriction base="soapenc:Array">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="rkwShopOrder" />
                </xsd:sequence>
                <xsd:attribute wsdl:arrayType="rkwShopOrder[]" ref="soapenc:arrayType" />
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="rkwShopOrder">
        <xsd:all>
            <xsd:element minOccurs="0" maxOccurs="1" name="uid" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="1" name="pid" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="1" name="crdate" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="1" name="tstamp" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="1" name="hidden" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="1" name="deleted" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="1" name="status" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="1" name="email" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="frontend_user" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="remark" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="gender" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="1" name="title" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="1" name="first_name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="last_name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="company" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="address" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="zip" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="city" type="xsd:string" />
        </xsd:all>
    </xsd:complexType>

</f:section>

<!-- ========================================================================= -->

<f:section name="Messages">

    <message name="rkwShopFindOrdersByTimestampRequest">
        <part name="timestamp" type="xsd:int"/>
    </message>
    <message name="rkwShopFindOrdersByTimestampResponse">
        <part name="return" type="rkwShopOrderList"/>
    </message>

    <message name="rkwShopSetStatusForOrderRequest">
        <part name="orderUid" type="xsd:int"/>
        <part name="status" type="xsd:int"/>
    </message>
    <message name="rkwShopSetStatusForOrderResponse">
        <part name="return" type="xsd:int"/>
    </message>

    <message name="rkwShopSetDeletedForOrderRequest">
        <part name="orderUid" type="xsd:int"/>
        <part name="deleted" type="xsd:int"/>
    </message>
    <message name="rkwShopSetDeletedForOrderResponse">
        <part name="return" type="xsd:int"/>
    </message>

</f:section>

<!-- ========================================================================= -->

<f:section name="PortTypes">

    <operation name="rkwShopFindOrdersByTimestamp">
        <input message="tns:rkwShopFindOrdersByTimestampRequest"/>
        <output message="tns:rkwShopFindOrdersByTimestampResponse"/>
    </operation>

    <operation name="rkwShopSetStatusForOrder">
        <input message="tns:rkwShopSetStatusForOrderRequest"/>
        <output message="tns:rkwShopSetStatusForOrderResponse"/>
    </operation>

    <operation name="rkwShopSetDeletedForOrder">
        <input message="tns:rkwShopSetDeletedForOrderRequest"/>
        <output message="tns:rkwShopSetDeletedForOrderResponse"/>
    </operation>
</f:section>


<!-- ========================================================================= -->

<f:section name="Bindings">

    <operation name="rkwShopFindOrdersByTimestamp">
        <soap:operation soapAction="{url}/rkw/rkwsoap/soap/server/#rkwShopFindOrdersByTimestamp"/>
        <input>
            <soap:body use="literal" namespace="{url}/rkw/rkwsoap/soap/server"/>
        </input>

        <output>
            <soap:body use="literal" namespace="{url}/rkw/rkwsoap/soap/server"/>
        </output>
    </operation>

    <operation name="rkwShopSetStatusForOrder">
        <soap:operation soapAction="{url}/rkw/rkwsoap/soap/server/#rkwShopSetStatusForOrder"/>
        <input>
            <soap:body use="literal" namespace="{url}/rkw/rkwsoap/soap/server"/>
        </input>

        <output>
            <soap:body use="literal" namespace="{url}/rkw/rkwsoap/soap/server"/>
        </output>
    </operation>

    <operation name="rkwShopSetDeletedForOrder">
        <soap:operation soapAction="{url}/rkw/rkwsoap/soap/server/#rkwShopSetDeletedForOrder"/>
        <input>
            <soap:body use="literal" namespace="{url}/rkw/rkwsoap/soap/server"/>
        </input>

        <output>
            <soap:body use="literal" namespace="{url}/rkw/rkwsoap/soap/server"/>
        </output>
    </operation>

</f:section>