<f:section name="Types">
    <xsd:complexType name="TitleList">
        <xsd:complexContent mixed="false">
            <xsd:restriction base="soapenc:Array">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="Title" />
                </xsd:sequence>
                <xsd:attribute wsdl:arrayType="Title[]" ref="soapenc:arrayType" />
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="Title">
        <xsd:all>
            <xsd:element minOccurs="0" maxOccurs="1" name="uid" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="1" name="crdate" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="1" name="tstamp" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="1" name="hidden" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="1" name="deleted" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="1" name="name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="nameLong" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="isTitleAfter" type="xsd:int" />
        </xsd:all>
    </xsd:complexType>
</f:section>

<!-- ========================================================================= -->

<f:section name="Messages">

    <message name="findAllTitlesRequest" />
    <message name="findAllTitlesResponse">
        <part name="return" type="TitleList"/>
    </message>

</f:section>


<!-- ========================================================================= -->

<f:section name="PortTypes">

    <operation name="findAllTitles">
        <input message="tns:findAllTitlesRequest"/>
        <output message="tns:findAllTitlesResponse"/>
    </operation>

</f:section>

<!-- ========================================================================= -->

<f:section name="Bindings">

    <operation name="findAllTitles">
        <soap:operation soapAction="{url}/rkw/rkwsoap/soap/server/#findAllTitles"/>
        <input>
        <soap:body use="literal" namespace="{url}/rkw/rkwsoap/soap/server"/>
        </input>

        <output>
            <soap:body use="literal" namespace="{url}/rkw/rkwsoap/soap/server"/>
        </output>
    </operation>

</f:section>