<f:section name="Types">

</f:section>

<!-- ========================================================================= -->

<f:section name="Messages">

    <message name="getPageIdentifierRequest" />
    <message name="getPageIdentifierResponse">
        <part name="return" type="xsd:string"/>
    </message>

</f:section>


<!-- ========================================================================= -->

<f:section name="PortTypes">

    <operation name="getPageIdentifier">
        <input message="tns:getPageIdentifierRequest"/>
        <output message="tns:getPageIdentifierResponse"/>
    </operation>

</f:section>

<!-- ========================================================================= -->

<f:section name="Bindings">

    <operation name="getPageIdentifier">
        <soap:operation soapAction="{url}/rkw/rkwsoap/soap/server/#getPageIdentifier"/>
        <input>
        <soap:body use="literal" namespace="{url}/rkw/rkwsoap/soap/server"/>
        </input>

        <output>
            <soap:body use="literal" namespace="{url}/rkw/rkwsoap/soap/server"/>
        </output>
    </operation>

</f:section>